.header{
    background: $bg;
    padding: 20px 0 21px 0;
&__container{
    display: flex;
    justify-content: space-between;
}
&__navigation{
    &-list{
    display: flex;
    gap: 20px;

    }
}
&__login{
    display: flex;
    gap: 20px;
    &-icon{
    width: 16px;
    height: 16px;
    }

}
}