.upperline{
    padding-top: 6px;
    padding-bottom: 6px;
    background: $upperbg;
&__container{
    display: flex;
    justify-content:space-between;
    gap: 32px;
}
&__text{
font-size: 11px;
text-transform: uppercase;
color: white;
font-family: 'IBM Plex Mono';

&--main{
    flex: 1 1;
}
    };
}